*{
	margin: 0;
	padding: 0;
}
body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Lato, Noto Sans SC, -apple-system, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #fff!important;
    line-height: inherit;
}
h1, h2 {
    font-style: normal;
    line-height: 2;
    font-weight: 900;
    color: #363636;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
a {
    cursor: pointer;
    word-break: break-word;
    color: #52616a;
    text-decoration: inherit;
}
element.style {
    margin: 1em auto;
}
.bg-cover {
    background-size: cover;
}
.bg-cover {
	background-size: cover
}
.bg-cover {
	background-color: #101012;
	display: table;
	height: 480px;
	position: relative;
	width: 100%;
	opacity: .95;
	z-index: 3
}

.bg-cover {
	animation: fade-down .3s
}
.home-cover .wapper {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
}
.home-cover .card-inner {
    padding: 0;
    border: 0;
    width: 35%;
    margin: 0 auto;
}

ol, ul {
    padding-left: 1em;
    line-height: 2;
}
ul {
    list-style: none;
}
ol, ul {
    list-style: none;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}
header {
    display: block;
}
.home-cover .card-inner header {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    margin-bottom: 40px;
}
.card-inner{
	text-align: center;
}
.home-cover .card-inner header img {
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 30%);
    transition: .4s ease-in-out;
    vertical-align: middle;
    display: initial;
 
}
.font-normal {
    font-weight: 400;
}
.home-cover .card-inner ul {
    position: relative;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding-bottom: 40px;
}
.home-cover .card-inner ul li {
    display: inline-block;
    transition: all .2s;
    width: 100%;
    height: 100%;
    border-left: .1px solid hsla(0, 0%, 100%, .1);
    border-right: .1px solid hsla(0, 0%, 100%, .1);
}
.home-cover .card-inner ul li a {
    color: #fff;
    transition: all .2s;
}
.home-cover .card-inner header h1 {
    margin: 15px 15px 0;
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 400;
}
.home-cover .card-inner header h2 {
    color: #ccc;
    letter-spacing: 3px;
    font-size: 1rem;
}